# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
bokeh=0.8.2=np19py27_0
colorama=0.3.3=py27_0
flask=0.10.1=py27_1
gevent=1.0.1=py27_0
gevent-websocket=0.9.3=py27_0
greenlet=0.4.5=py27_0
gunicorn=19.1.0=py27_0
ipython=3.1.0=py27_0
ipython-notebook=3.1.0=py27_1
itsdangerous=0.24=py27_0
jinja2=2.7.3=py27_1
jsonschema=2.4.0=py27_0
libsodium=0.4.5=0
markupsafe=0.23=py27_0
mistune=0.5.1=py27_0
numpy=1.9.2=py27_0
openssl=1.0.1k=1
pandas=0.16.0=np19py27_1
pastedeploy=1.5.2=py27_1
pip=6.1.1=py27_0
ptyprocess=0.4=py27_0
pygments=2.0.2=py27_0
python=2.7.9=2
python-dateutil=2.4.2=py27_0
pytz=2015.2=py27_0
pyyaml=3.11=py27_0
pyzmq=14.5.0=py27_0
readline=6.2=2
redis=2.6.9=0
redis-py=2.10.3=py27_0
requests=2.6.0=py27_0
setuptools=15.0=py27_0
six=1.9.0=py27_0
sqlite=3.8.4.1=1
ssl_match_hostname=3.4.0.2=py27_0
system=5.8=2
terminado=0.5=py27_0
tk=8.5.18=0
tornado=4.1=py27_0
ujson=1.33=py27_0
werkzeug=0.10.4=py27_0
yaml=0.1.4=0
zeromq=4.0.4=0
zlib=1.2.8=0
