<div class="row">
    <div class="col-md-12">
        <div class="_washmap_country_info"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="_washmap_country_targets">
            <h2 class="targets-title">Everyone, Everywhere by 2030</h2>
            <p class="targets-subtitle"></p>
            <div class="targets-section currently">
                <p class="targets-section-title">currently</p>
                <p class="targets-number">
                    <span class="targets-number-digits"></span>
                    <span class="targets-number-unit"></span>
                </p>
                <div class="targets-people"></div>
                <p class="targets-detail"></p>
            </div>
            <div class="targets-section for-target">
                <p class="targets-section-title">for targets</p>
                <p class="targets-number">
                    <span class="targets-number-digits"></span>
                    <span class="targets-number-unit"></span>
                </p>
                <div class="targets-people"></div>
                <p class="targets-detail">extra people per year needed to reach 2030 target</p>
            </div>
            <p class="targets-percent">That is just <span class="targets-percent-digits"></span>% of the population</p>
            <div class="_washmap_targets_key">
                <div class="_washmap_targets_key_person"></div>
                <div class="_washmap_targets_key_text"></div>
            </div>
        </div>
    </div>
</div>
