    <div class="panel-heading clearfix">
        {% if map_type = "water" %}
            <h3>{{ _("water")|capfirst }}</h3>
            {% with urlname="country-summary-water-map-embed" %}
                {% include "country_comparison/snippets/embed.html" %}
            {% endwith %}
        {% elif map_type = "sanitation" %}
            <h3>{{ _("sanitation")|capfirst }}</h3>
            {% with urlname="country-summary-sanitation-map-embed" %}
                {% include "country_comparison/snippets/embed.html" %}
            {% endwith %}
        {% endif %}
    </div>
    <div class="row _country_map_wrapper">
        <div class="col-xs-7">
            <div class="_washmap_map"></div>
        </div>
        <div class="col-xs-5 _country_access">
            <div class="">
                <span class="_traffic_light"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 legend _washmap_legend">
            <div class="_washmap_legend_svg"></div>
            <div id="map-legend-text">
                <div class="zero-percent"><span class="legend-number">0</span> <span class="legend-percent">%</span></div>
                <div class="hundred-percent"><span class="legend-number">100</span> <span class="legend-percent">%</span></div>
                <div class="legend-text _washmap_legend_label"></div>
            </div>
        </div>
    </div>
