{% load assets %}

<!--[if gte IE 9]><!-->
{% assets "washmap.vendor_js" %}
<script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}

{% assets "washmap.washmap_js" %}
<script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}

<script>
(function initMaps(){
    var maps = d3.selectAll("._country_vis");
    maps.each(function(){
        var map = new wwMap();
        map.init(this, {
            minYear: 1990,
            thisYear: 2014,
            maxYear: 2030,
            initialSource: 'water',
            initialCountry: 'Africa',
            yearsOnGraph: [1990, 2000, 2010, 2020, 2030],
            mapurl_topojson: '/data/all.json',
            dataurl: '/data/waterdata.json',
            waterColorRange: [
                "#8c9494", "#8398a2", "#7c9baa", "#73a1b4",
                "#6aa6bd", "#62abc7", "#5aafd0", "#52b4d9",
                "#49bae4", "#3fc0f0"],
            sanitationColorRange: [
                "#d45500", "#da670f", "#eb7e1f", "#eb941f",
                "#ebb01f", "#f2c83d", "#d3cc4f", "#86c26f",
                "#4db181", "#15b598"],
            noDataColor: "#eee",
            lineGraphAspectRatio: 0.6,
            lineGraphMargin: 5,
            twitterHashTagWater: "AfricaWaterMap",
            twitterHashTagSanitation: "AfricaSanitationMap",
            personFullHeight: 25
        });
    });
})();
</script>
