// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap-custom";

// Compass clearfix
@import "compass/utilities/general/clearfix";


body {
    position: relative;
    min-width: 400px;
}
@media (max-width: 1200px) {
    h1 {
        font-size: $font-size-h1 * 0.8;
    }
    h2 {
        font-size: $font-size-h2 * 0.8;
    }
    h3 {
        font-size: $font-size-h3 * 0.8;
    }
    p {
        font-size: $font-size-base  * 0.8;
    }
}

a.btn {
    color: $text-color;
    font-family: $font-family-sans-serif;
}

.title {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.content {
    @include clearfix;
    margin: 0 auto;
    width: 40vw;
    @media (max-width: 1200px) {
        width: 60vw;
    }
}
/* ---------- FIGURES AND TABLES */
.figure-wrapper {
    @include clearfix;
    margin: ($padding-large-vertical * 2) auto;
    width: 80vw;
}

.table {
    margin-bottom: 0;
    font-family: $font-family-sans-serif;
}

.caption {
    @extend h5;
    background: $brand-primary;
    color: $body-bg;
    padding: ($padding-large-vertical * 2);
}

.plotdiv {
    @include clearfix;
    position: relative;
    margin: 0 auto;
    margin-bottom: ($padding-large-vertical * 2);
}

.screen-too-small .bk-plot-wrapper {
    display: none;
}

.screen-too-small:after {
    content: "Unfortunately, this graph needs a larger screen to display correctly.";
    font-family: $font-family-sans-serif;
    padding: ($padding-large-vertical * 2);
    padding-top: 0;
}

.bk-canvas {
    position: relative;
}

.reveal table th, .reveal table td {
    border-bottom: 0;
}
.bk-ui-state-default,
.bk-ui-widget-content .bk-ui-state-default,
.bk-ui-widget-header .bk-ui-state-default {
    background-image: none;
    background-color: #FFA500;
    border: none;
    outline: none;
}
.bk-slider-horizontal {
    margin-left: 1em;
    margin-top: 0.5em;
    width: 60%;
}
.bk-ui-slider .bk-ui-slider-handle {
    width: 2em;
    height: 1.3em;
}

.bk-tooltip.bk-tooltip-custom {
    background-color: black;
    opacity: 0.8;
    color: white;
    font-size: 0.8em;
    padding: 0.5em 1.5em;
    &:before {
        border: none;
    }
    &:after {
        border: none;
    }
}

.bk-bs-nav-tabs > li.bk-bs-active > a, 
.bk-bs-nav-tabs > li.bk-bs-active > a:hover,
.bk-bs-nav-tabs > li.bk-bs-active > a:focus {

    outline: none;
}

.tooltip-text {
    clear: both;
    float: left;
    &.country {
        font-weight: bold;
    }
    &.value {
        font-size: 1.2em;
        font-weight: bold;
        color: #FFA500;
    }
}

/* ---- END figures and tables */

/* ------ FOR PRINTING ---- */
@media print {
    .content {
        width: 100vw;
    }
}
