{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block title %}Washmap{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/bokeh-0.8.1.min.css" %}" />
{% endblock head %}

{% block content %}
    
    <div class="row title">
        <div class="content">
            <h1>WASHMAP</h1>
        </div>
    </div>
    <div class="row">
        <div class="figure-bar">
            <div class="figure-wrapper">
                {% include 'main/snippets/bokeh_server_embed_tag.html' %}
            </div>
        </div>
    </div>

{% endblock content %}
{% block extra_javascript %}
    <script>
        bokehJS.done( function () {
            {% include 'main/snippets/bokeh_server_embed_js.js' %}
        });
    </script>
{% endblock extra_javascript %}
