{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block title %}Washmap{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/bokeh-0.8.1.min.css" %}" />
{% endblock head %}

{% block content %}
    
    {% for figure in figures %}
    <div class="row">
        <div class="figure-bar">
            <div class="figure-wrapper">
                <div id="{{ figure.elementid }}" class="plotdiv" data-min-width="{{ figure.min_width }}"></div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock content %}
{% block extra_javascript %}
    {% include 'main/snippets/embed_resize.js' %}
{% endblock extra_javascript %}
