{% load i18n %}
{% load static from staticfiles %}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>
<body>
    <div class="container-fluid">
        {% block content %}
        {% endblock content %}
    </div>
    {% block javascript %}
        <script src="{% static "js/jquery-1.11.2.min.js" %}"></script>
        <script>
            bokehJS = $.getScript("{% static "js/bokeh-0.8.1.min.js" %}");
        </script>
    {% endblock javascript %}
    {% block extra_javascript %}
    {% endblock extra_javascript %}
</body>
</html>
